<div>
    <div class="bg-primary p-4">
        <h1 class="text-light text-center">Acerca de Nosotros</h1>
    </div>

    <div class="container p-5">
        <div class="text-center">
            <h2>Ser el primer pensamiento de las personas mayores en el primer día de su segunda vida.</h2>
            <div class="p-2 p-md-5">
                <p>¡Bienvenidos a nuestra empresa de cursos diseñados especialmente para personas seniors! En nuestra
                    misión
                    de promover un
                    enriquecimiento continuo y una vida plena, nos complace ofrecer una amplia gama de programas
                    educativos
                    adaptados a las
                    necesidades e intereses de nuestra apreciada comunidad de adultos mayores.</p>
            </div>
        </div>
        <div class="row bg-warning my-3 p-1 p-md-5 rounded-4 d-flex align-items-center">
            <div class="col-12 col-md-6 p-5 fs-5 text-dark text-center align-items-center">
                <p>Nuestros cursos, impartidos por expertos en cada campo, abarcan desde tecnología y redes sociales
                    hasta
                    arte,
                    historia y
                    bienestar personal. Reconocemos el valor del aprendizaje a cualquier edad y nos enorgullece brindar
                    un
                    ambiente
                    inclusivo y amigable donde nuestros estudiantes pueden expandir sus conocimientos, compartir
                    experiencias y
                    establecer
                    conexiones significativas.</p>
            </div>
            <div class="col-12 col-md-6">
                <div class=""><img class="w-100" src="../../../assets/img/sprencia-ordenador.png"
                        alt="Sprencia Ordenador">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light p-3 container my-5 rounded-4 shadow" id="sprencia">
        <h3 class="text-center my-5 fs-1">Sprencia</h3>
        <div class="row container">
            <section class="col-12 col-md-6 px-5">
                <p class="fs-6 text-center">Sabemos que la edad no es una barrera para el aprendizaje y
                    que las personas
                    mayores también
                    tienen
                    derecho a
                    continuar
                    su educación y mejorar sus habilidades. Por eso, hemos creado una plataforma de aprendizaje en línea
                    que
                    está
                    diseñada
                    específicamente para atender las necesidades y preferencias de este grupo de edad.</p>
                <p class="fs-6 text-center">Nuestros cursos son impartidos por expertos en cada área y están disponibles
                    en
                    una amplia variedad de
                    temas, desde
                    tecnología y negocios hasta artes y humanidades. Además, nuestros cursos están diseñados para ser
                    flexibles y adaptados
                    a las necesidades individuales de cada estudiante.</p>
            </section>
            <section class="col-12 col-md-6">
                <div><img class="w-100" src="../../assets/img/sprencia-cursos-seniors.png" alt="Sobre Sprencia"></div>
            </section>
        </div>
    </div>

</div>