.cardW {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.cardWBox {
    width: 250px;
    margin: 0.4em;
}

.cardBoxContent {
    transition: 0, 3s;
}

.cardBoxContent:hover {
    background-color: rgb(243, 243, 243);
    color: black;
}

.infoCurso {
    font-size: 0.8em;
    position: absolute;
    top: 10px;
    background-color: #0d6dfdb0;
    padding: 10px 10px 0px 10px;
}

.infoCurso p {
    color: white;
}