<footer>
    <div class="text-secondary" id="contacto">
        <div class="bg-primary py-5 p-md-5 text-light row m-0 align-items-center">
            <div class="col-12 col-md-6 text-center">
                <h3 class="pb-3">Contáctanos</h3>
                <ul class="list-inline">
                    <li><span><i class="bi bi-globe2 px-2"></i></span> www.sprencia.com</li>
                    <li><span><i class="bi bi-envelope px-2"></i></span> info@sprencia.com</li>
                    <li><span><i class="bi bi-telephone-fill px-2"></i></span> 602 06 48 04 - 641 87 08 94</li>
                    <li><span><i class="bi bi-geo-alt-fill px-2"></i></span> Carrer del Lloret 15, 08026.</li>
                    <li>Barcelona, España</li>
                    <li>
                        <div>
                            <a href="https://facebook.com" target="_blank"><i
                                    class="bi bi-facebook fs-2 mx-1 text-light"></i></a>
                            <a href="https://instagram.com" target="_blank"><i
                                    class="bi bi-instagram fs-2 mx-1 text-light"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <form action="" class="row form-control p-4 p-md-4 g-1">
                    <h3 class="text-center pb-4">Déjanos Tu Mensaje</h3>
                    <input type="text" value="Nombre Completo" class="form-control">
                    <input type="text" value="Email" class="form-control">
                    <input type="text" value="Mensaje" class="form-control">
                    <input type="button" value="Enviar" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="bg-black px-3 py-2 text-end">
            <small>Copyright © 2023 SPRENCIA - Desarrollado por <span><a class="text-secondary text-decoration-none"
                        target="_blank" href="https://www.linkedin.com/in/maomur/">MaoDev</a></span></small>
        </div>
    </div>
</footer>