<div class="pb-5">
    <h2 class="text-center">Experiencia de Nuestros Estudiantes</h2>
    <div class="container py-5">
        <div class="row text-dark text-center">
            <section class=" col-12 col-md-4 bg-light shadow rounded p-5">
                <div><img class="w-50" src="../../assets/img/sprencia-testimonio-internet.png" alt=""></div>

                <i>He realizado 2 cursos y me ha gustado mucho lo que he aprendido. Me ha servido para mejorar mis
                    habilidades en informática y ahora tengo una pequeña tienda en línea.</i>
                <p class="fs-6 mt-3">Jose Pérez</p>
            </section>
            <section class="col-12 col-md-4 bg-light shadow rounded p-5">
                <div><img class="w-50" src="../../assets/img/sprencia-testimonio-peluqueria.png" alt=""></div>
                <i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, quis ea necessitatibus eligendi
                    sint
                    soluta
                    illo aliquid nemo dicta obcaecati quae fugit dignissimos. Distinctio ipsum ea accusamus magnam
                    voluptate
                    nihil.</i>
                <p class="fs-6 mt-3">Rosa Velenguer</p>

            </section>
            <section class="col-12 col-md-4 bg-light shadow rounded p-5">
                <div><img class="w-50" src="../../assets/img/sprencia-testimonnios-marketing.png" alt=""></div>
                <i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, quis ea necessitatibus eligendi
                    sint
                    soluta
                    illo aliquid nemo dicta obcaecati quae fugit dignissimos. Distinctio ipsum ea accusamus magnam
                    voluptate
                    nihil.</i>
                <p class="fs-6 mt-3">Jaume Carbonel</p>

            </section>
        </div>
    </div>
</div>