<header class="container-fluid">
    <!-- Barra Superior -->
    <div class="bg-light text-light row text-center align-items-stretch">
        <div class="col-12 col-md-4 bg-warning pt-1"><i class="bi bi-telephone-fill mx-2"></i>602 06 48 04</div>
        <div class="col-12 col-md-4 bg-success pt-1"><i class="bi bi-envelope mx-2"></i>info@sprencia.com</div>
        <div class="col-12 col-md-4 bg-primary"><span><a href="https://facebook.com" target="_blank"><i
                        class="bi bi-facebook fs-4 mx-1 text-light"></i></a></span><span><a
                    href="https://instagram.com/">
                    <i class="bi bi-instagram fs-4 mx-1 text-light"></i>
                </a></span><span><a
                    href="https://wa.me/34641870894?text=Hola%2C%20quiero%20una%20asesor%C3%ADa%20personalizada%20sobre%20un%20curso"
                    target="_blank"><i class="bi bi-whatsapp fs-4 mx-1 text-light"></i></a></span>
        </div>
        <!-- Logo, Menú y Buscador -->
        <div class="">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center">
                    <div>
                        <a class="navbar-brand" href="/">
                            <img class="logo" src="/assets/img/sprencia-logo.png" alt="sprencia-logo">
                        </a>
                    </div>
                    <div>
                        <button class="navbar-toggler p-1" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item px-2">
                            <a class="nav-link active" aria-current="page" routerLinkActive="active"
                                [routerLink]="['/']">Inicio</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" routerLink="active" [routerLink]="['/sobre-nosotros']">Sprencia</a>
                        </li>
                        <li class="nav-item dropdown px-2">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Actividades
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item"
                                        [routerLink]="['/resultado-categoria/historia']">Historia</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        [routerLink]="['/resultado-categoria/literatura']">Literatura</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        [routerLink]="['/resultado-categoria/filosofia']">Filosofía</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        [routerLink]="['/resultado-categoria/informatica']">Informática</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        [routerLink]="['/resultado-categoria/decoracion']">Decoración</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" [routerLink]="['/resultado-categoria/arte']">Arte</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        [routerLink]="['/resultado-categoria/geografia']">Geografía</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" [routerLink]="['/resultado-categoria/moda']">Moda</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        [routerLink]="['/resultado-categoria/ciencias']">Ciencias</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" routerLink="active" [routerLink]="['/contacto']">Contacto</a>
                        </li>
                        <li *ngIf="!authService.isLoggedIn()" class="nav-item bg-primary" px-2 data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <a class="nav-link text-light cursorPointer"><span><i class="bi bi-person-circle"> </i>
                                </span> ACCESO</a>
                        </li>
                        <li *ngIf="authService.isLoggedIn()" (click)="logOut()" class="nav-item bg-primary mx-2">
                            <a class="nav-link text-light cursorPointer"><span><i class="bi bi-box-arrow-left"> </i>
                                </span> Cerrar Sesión</a>
                        </li>
                        <li *ngIf="authService.isLoggedIn()" class="nav-item bg-primary mx-2">
                            <a [routerLink]="['/dashboard/home']" class="nav-link text-light cursorPointer"><span><i
                                        class="bi bi-grid"> </i>
                                </span> Dashboard</a>
                        </li>
                    </ul>
                    <form class="d-flex">

                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"
                            name="nombre" [(ngModel)]="termn">

                        <input class="btn btn-dark" type="submit" value="Buscar" (click)="searchWord()"
                            data-bs-toggle="modal" data-bs-target="#modalBuscador">
                    </form>
                </div>
            </nav>
        </div>
    </div>
</header>



<!-- Modal Buscador -->
<div class="modal fade" id="modalBuscador" tabindex="-1" aria-labelledby="modalBuscadorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBuscadorLabel">Tus Resultados para: <span
                        class="text-primary fs-4">"{{termn}}"</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <ul>
                        <li class="list-unstyled my-3" *ngFor="let item of cursos"><i
                                class="bi bi-arrow-bar-right px-2 text-primary"></i><a
                                class="text-decoration-none text-dark" [routerLink]="['/curso/' , item.id]"
                                data-bs-dismiss="modal">{{item.nombre}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <p class="mx-4 text-secondary">Número de Resultados: <span
                        class="text-primary">{{contadorResultados}}</span></p>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<app-login-users></app-login-users>