<div class="bg-primary p-4">
    <h1 class="text-light text-center">Recuperar Clave</h1>
</div>
<div class="container mt-5 text-center">
    <h2>¿Haz olvidado tu contraseña?</h2>
    <h3 class="fs-5">No te preocupes, nosotros te ayudamos a recuperarla</h3>
</div>

<div class="container text-center p-2 p-md-5">
    <form [formGroup]="createForm" (submit)="onSubmit()">
        <div class="row justify-content-center p-4">
            <div class="col-12 col-md-6">
                <input class="form-control" type="email" placeholder="Email" formControlName="email">
            </div>
            <div class="col-12 col-md-4">
                <button class="btn btn-success w-100">Reestablecer Ahora</button>
            </div>
        </div>
        <p>ó</p>
        <a [routerLink]="['/login']">
            <p>Inicia Sesión</p>
        </a>
    </form>
    <input class="btn btn-primary" type="button" (click)="pasarDatos()" value="Pasar Dato">

</div>