<div class="p-3">
    <h2 class="fs-5 text-center">
        Política de Términos y Condiciones para Servicios de Cursos Sprencia
    </h2>
</div>
<p>
    Bienvenido a nuestra plataforma de cursos para seniors. Antes de utilizar nuestros servicios, te
    invitamos a leer detenidamente los siguientes Términos y Condiciones que rigen el uso de nuestro sitio web y la
    participación en nuestros cursos. Al acceder a nuestra plataforma y utilizar nuestros servicios, aceptas cumplir y
    estar
    sujeto a estos Términos y Condiciones.
</p>
<ol>
    <li>
        <span class="fw-bold">Aceptación de los Términos y Condiciones</span> <br>
        Al registrarte y utilizar nuestros servicios, aceptas los términos y condiciones aquí establecidos en su
        totalidad. Si
        no estás de acuerdo con alguno de estos términos, te recomendamos que no utilices nuestros servicios.
    </li>
    <li>
        <span class="fw-bold">Acceso y Uso de la Plataforma</span> <br>
        2.1. Registro: Para acceder a nuestros cursos, es necesario que te registres en nuestra plataforma y
        proporciones
        información precisa y actualizada. Eres responsable de mantener la confidencialidad de tu cuenta y contraseña, y
        de
        todas las actividades que se realicen bajo tu cuenta. <br>
        2.2. Uso Adecuado: Nuestra plataforma y los cursos disponibles están diseñados exclusivamente para personas
        mayores de
        edad. Te comprometes a utilizar nuestros servicios de manera lícita, respetando las leyes aplicables y los
        derechos de
        propiedad intelectual. <br>
        2.3. Contenido del Curso: Nuestros cursos online están diseñados para brindar información y conocimientos
        relevantes
        para personas mayores. Sin embargo, no podemos garantizar la exactitud o adecuación del contenido para tus
        necesidades
        particulares. El contenido de los cursos no constituye asesoramiento profesional o médico, y siempre debes
        consultar con
        profesionales especializados en caso de necesitarlo. <br>
        2.4. Suspensión o Terminación del Acceso: Nos reservamos el derecho de suspender o terminar tu acceso a nuestros
        servicios, en caso de incumplimiento de estos Términos y Condiciones, o por cualquier razón que consideremos
        necesaria
        para proteger la integridad y seguridad de nuestra plataforma.
    </li>
    <li>
        <span class="fw-bold">Propiedad Intelectual</span>
        3.1. Derechos de Autor: Todo el contenido proporcionado en nuestros cursos online, incluyendo materiales,
        textos,
        imágenes, videos y presentaciones, está protegido por derechos de autor y otros derechos de propiedad
        intelectual. No
        está permitido copiar, distribuir, modificar o utilizar dicho contenido sin nuestro consentimiento expreso.
        3.2. Propiedad del Usuario: Al utilizar nuestra plataforma, puedes proporcionar comentarios, opiniones o
        materiales
        propios. Mantienes la propiedad y derechos sobre dicho contenido, pero nos otorgas una licencia no exclusiva,
        irrevocable y libre de regalías para utilizar, reproducir y distribuir dicho contenido en relación con nuestros
        servicios.
    </li>
    <li>
        <span class="fw-bold">Limitación de Responsabilidad</span><br>
        4.1. Exclusión de Garantías: No otorgamos garantías de ningún tipo con respecto a nuestros servicios, incluyendo
        la
        precisión, disponibilidad, fiabilidad o idoneidad para un propósito particular. Utilizas nuestros servicios bajo
        tu
        propio riesgo. <br>
        4.2. Responsabilidad Limitada: No seremos responsables por ningún daño directo, indirecto, incidental, especial
        o
        consecuente que surja del uso de nuestros servicios, incluso si hemos sido informados de la posibilidad de
        dichos daños.
    </li>
</ol>