<div class="bg-primary p-4">
    <h1 class="text-light text-center">Contacto</h1>
</div>
<section class="container p-0 p-md-5">
    <div class="row">
        <div class="col-12 col-md-6 mb-5">
            <iframe [src]="urlSafe" width="100%" height="400px" frameborder="0"></iframe>
        </div>
        <div class="col-12 col-md-6 px-5 px">
            <div class="mb-3">
                <p class="text-center fs-5">Área Académica</p>
                <ul class="list-unstyled">
                    <li class="">Laura Estevan Gómez</li>
                    <li class="fst-italic">academica@sprencia.com</li>
                    <li class="fst-italic">602 06 48 04 - 641 87 08 94</li>
                </ul>
            </div>
            <div class="mb-3">
                <p class="text-center fs-5">Área Administrativa</p>
                <ul class="list-unstyled">
                    <li class="">Andrés Llorente</li>
                    <li class="fst-italic">admon@sprencia.com</li>
                    <li class="fst-italic">602 06 48 04</li>
                </ul>
            </div>
            <div class="mb-3">
                <p class="text-center fs-5">Área Financiera</p>
                <ul class="list-unstyled">
                    <li class="">Andrea Requena</li>
                    <li class="fst-italic">finanzas@sprencia.com</li>
                    <li class="fst-italic">602 06 48 04</li>
                </ul>
            </div>
        </div>
    </div>
</section>