<div class="bg-success mt-5 p-1 p-md-5 text-center">
    <p class="fs-2 text-light text-center mt-5">¿Deseas una asesoría personalizada?</p>
    <p class="fs-5 text-center text-light">Contáctanos ahora mismo y uno de nuestros expertos te ayudará en tu proceso
        de
        educación
    </p>
    <div class="mb-5">
        <a target="_blank"
            href="https://wa.me/34641870894?text=Hola%2C%20quiero%20una%20asesoría%20personalizada%20sobre%20un%20curso"><button
                class="btn btn-dark my-3 w-50 w-md-100"><span><i class="bi bi-whatsapp mx-2"></i>Solicitar
                    Asesoría</span></button></a>
    </div>
</div>