<app-banner></app-banner>

<!------------- Cursos Start ------------->



<div class="container">
    <section class="row text-center container">
        <div class="col-12 col-md-6">
            <h2 class="fs-1 ">Últimos Cursos</h2>
        </div>
        <div class="col-12 col-md-6">

            <!--Filtros -->
            <div class="row text-center">
                <div class="col-12 col-md-3"><button class="btn btn-light border border-black50 w-100 fs-6"
                        (click)="ordenarPrecio()"><span><i class="bi bi-arrow-down-up"></i></span>
                        Precio</button>
                </div>
                <div class="col-md-3">
                    <select class="form-select" name="" (change)="recogerCiudad($event)">
                        <option value="ciudad">Ciudad</option>
                        <option *ngFor="let ciudad of ciudades" [value]="ciudad.ciudad">{{ciudad.ciudad}}
                        </option>



                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <select class="form-select" (change)="recogerCategoria($event)">
                        <option value="categoria" selected>Categorías</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.category_name">
                            {{categoria.category_name}}
                        </option>

                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <select class="form-select" (change)="recogerHorario($event)">
                        <option value="horario" selected>Horario</option>
                        <option *ngFor="let horario of horarios" value="{{horario.horario}}">
                            {{horario.horario}}</option>


                    </select>
                </div>
            </div>

        </div>
        <div class="px-5 mb-3">
            <hr class="w-100">
        </div>


    </section>
    <section class="container my-1 px-0 px-md-2">
        <div class="card-cursos cardW">
            <div class="card shadow border-0 cardWBox" *ngFor="let curso of cursos; let i = index">
                <div class="cardBoxContent">
                    <a href="/curso/{{curso.id}}"><img [src]="curso.foto1" class="card-img-top w-100"
                            alt="Curso Administración de Redes Sociales"></a>
                    <div class="infoCurso">
                        <p>{{curso.fecha_inicio}}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{curso.nombre}}</h5>
                        <p class="card-text">{{curso.descripcion}}</p>
                    </div>
                    <div>
                        <a href="/curso/{{curso.id}}" class="btn btn-primary w-100">Ver Info</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center my-5 mx-0 mx-md-5"><a href="/cursos">
            <button class="btn btn-dark w-50 w-md-50">Ver
                todos</button>
        </a></div>
</div>

<app-call-to-action></app-call-to-action>

<app-sobre-sprencia></app-sobre-sprencia>

<app-call-to-action-dos></app-call-to-action-dos>

<app-testimonios></app-testimonios>

<app-faqs></app-faqs>