<!------------- Banner Start ------------->

<div class="shadow mb-5">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/img/sprencia-market-place.jpg" class="d-block w-100 img-banner"
                    alt="Cursos Sprencia">
                <div class="carousel-caption d-block">
                    <h2 class="title-carrousel">Cursos Prescenciales y Virtuales</h2>
                    <p class="subtitle-carrousel">Aprende nuevas habilidades y aprovecha de tu experiencia</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/img/sprencia-marketplace.jpg" class="d-block w-100 img-banner"
                    alt="Cursos Digitales Sprencia">
                <div class="carousel-caption d-block">
                    <h2 class="title-carrousel">El Momento es ahora</h2>
                    <p class="subtitle-carrousel">La educación es un proceso continuo que puede enriquecer tu vida en
                        cualquier momento.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/img/sprencia-marketplace-categoria.jpg" class="d-block w-100 img-banner"
                    alt="Cursos Digitales Sprencia">
                <div class="carousel-caption d-block">
                    <h2 class="title-carrousel">¿Por qué Sprencia?</h2>
                    <p class="subtitle-carrousel">Nunca es tarde para perseguir tus sueños y metas, y la educación puede
                        ayudarte a alcanzarlos.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>

<!------------- Fin ------------->



<!------------- Cursos Home Start ------------->

<div class="container pb-5">
    <section class="row text-center container">
        <div class="col-12 col-md-6">
            <h2 class="fs-1 ">Últimos Cursos</h2>
        </div>
        <div class="col-12 col-md-6">

            <!--Filtros -->
            <div class="row text-center">
                <div class="col-12 col-md-3"><button class="btn btn-light border border-black50 w-100 fs-6"
                        (click)="ordenAlterno()">
                        {{labelOrdenar}} €</button>
                </div>
                <div class="col-md-3">
                    <select class="form-select" name="" (change)="recogerCiudad($event)">
                        <option value="ciudad">Ciudad</option>
                        <option *ngFor="let ciudad of ciudades" [value]="ciudad.ciudad">{{ciudad.ciudad}}
                        </option>
                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <select class="form-select" (change)="recogerCategoria($event)">
                        <option value="categoria" selected>Categorías</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.category_name">
                            {{categoria.category_name}}
                        </option>
                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <select class="form-select" (change)="recogerHorario($event)">
                        <option value="horario" selected>Horario</option>
                        <option *ngFor="let horario of horarios" value="{{horario.horario}}">
                            {{horario.horario}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="px-5 mb-3">
            <hr class="w-100">
        </div>
    </section>
    <!------------- Fin ------------->


    <!-- Grid Cursos Iterados -->
    <section class="container my-1 px-0 px-md-2">
        <div class="card-cursos cardW">
            <div class="card shadow border-0 cardWBox" *ngFor="let curso of cursos; let i = index">
                <div class="cardBoxContent">
                    <a href="/curso/{{curso.id}}"><img [src]="curso.foto1" class="card-img-top w-100"
                            alt="Curso Administración de Redes Sociales"></a>
                    <div class="infoCurso">
                        <p>{{curso.fecha_inicio}}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{curso.nombre}}</h5>
                        <p class="card-text">{{curso.descripcion}}</p>
                        <h3 class="fs-4 text-end">{{curso.precio}}€</h3>
                    </div>
                    <div>
                        <a href="/curso/{{curso.id}}" class="btn btn-primary w-100">Ver Info
                            <span class="px-1"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center my-5 mx-0 mx-md-5"><a href="/cursos">
            <button class="btn btn-primary w-50 w-md-50">Ver
                todos</button>
        </a></div>
</div>
<!------------- Fin ------------->



<!-- Call To Action Start -->

<div class="bg-success mt-5 p-1 p-md-5 text-center">
    <p class="fs-2 text-light text-center mt-5">¿Deseas una asesoría personalizada?</p>
    <p class="fs-5 text-center text-light">Contáctanos ahora mismo y uno de nuestros expertos te ayudará en tu proceso
        de
        educación
    </p>
    <div class="mb-5">
        <a target="_blank"
            href="https://wa.me/34641870894?text=Hola%2C%20quiero%20una%20asesoría%20personalizada%20sobre%20un%20curso"><button
                class="btn btn-dark my-3 w-25 w-md-100"><span><i class="bi bi-whatsapp mx-2"></i>Solicitar
                    Asesoría</span></button></a>
    </div>
</div>
<!------------- Fin ------------->



<!-- Sobre Sprencia Start -->

<div class="bg-light p-5 container my-5 rounded-4 shadow" id="sprencia">
    <h3 class="text-center my-5 fs-1">Acerca de Nosotros</h3>
    <div class="row container">
        <section class="col-12 col-md-6 px-0 px-md-5">
            <p class="fs-6 text-center">Sabemos que la edad no es una barrera para el aprendizaje y
                que las personas
                mayores también
                tienen
                derecho a
                continuar
                su educación y mejorar sus habilidades. Por eso, hemos creado una plataforma de aprendizaje en línea que
                está
                diseñada
                específicamente para atender las necesidades y preferencias de este grupo de edad.</p>
            <p class="fs-6 text-center">Nuestros cursos son impartidos por expertos en cada área y están disponibles en
                una amplia variedad de
                temas, desde
                tecnología y negocios hasta artes y humanidades. Además, nuestros cursos están diseñados para ser
                flexibles y adaptados
                a las necesidades individuales de cada estudiante.</p>
            <button class="btn btn-primary w-100 my-4" routerLink="active" href="/sobre-nosotros">Conocer
                Más</button>
        </section>
        <section class="col-12 col-md-6">
            <div><img class="w-100" src="../../assets/img/sprencia-cursos-seniors.png" alt="Sobre Sprencia"></div>
        </section>
    </div>
</div>

<!------------- Fin ------------->


<!-- Banner Azul Start -->

<div class="container-fluid bg-image">
    <div class="p-2 p-md-5 text-center text-light">
        <h2 class="pt-5">Todas las herramientas a tu alcance</h2>
        <p class="fs-5 fs-md-4 p-3 p-md-5">En nuestra plataforma de educación virtual, te brindamos la oportunidad de
            adquirir
            nuevos
            conocimientos y
            habilidades
            para enriquecer tu vida personal y profesional.</p>
    </div>
</div>

<!------------- Fin ------------->



<!-- Testimonios Azul Start -->

<div class="pb-5">
    <h2 class="text-center">Experiencia de Nuestros Estudiantes</h2>
    <div class="container py-5">
        <div class="row text-dark text-center">
            <section class=" col-12 col-md-4 bg-light shadow rounded p-5">
                <div><img class="w-50" src="../../assets/img/sprencia-testimonio-internet.png" alt=""></div>

                <i>He realizado 2 cursos y me ha gustado mucho lo que he aprendido. Me ha servido para mejorar mis
                    habilidades en informática y ahora tengo una pequeña tienda en línea.</i>
                <p class="fs-6 mt-3">Jose Pérez</p>
            </section>
            <section class="col-12 col-md-4 bg-light shadow rounded p-5">
                <div><img class="w-50" src="../../assets/img/sprencia-testimonio-peluqueria.png" alt=""></div>
                <i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, quis ea necessitatibus eligendi
                    sint
                    soluta
                    illo aliquid nemo dicta obcaecati quae fugit dignissimos. Distinctio ipsum ea accusamus magnam
                    voluptate
                    nihil.</i>
                <p class="fs-6 mt-3">Rosa Velenguer</p>

            </section>
            <section class="col-12 col-md-4 bg-light shadow rounded p-5">
                <div><img class="w-50" src="../../assets/img/sprencia-testimonnios-marketing.png" alt=""></div>
                <i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, quis ea necessitatibus eligendi
                    sint
                    soluta
                    illo aliquid nemo dicta obcaecati quae fugit dignissimos. Distinctio ipsum ea accusamus magnam
                    voluptate
                    nihil.</i>
                <p class="fs-6 mt-3">Jaume Carbonel</p>

            </section>
        </div>
    </div>
</div>

<!------------- Fin ------------->





<!-- Preguntas Frecuentes Start -->

<div class="container pb-5 mb-5">
    <div class="py-5">
        <h2 class="text-center">FAQ'S</h2>
        <h3 class="text-center text-primary">Preguntas Frecuentes</h3>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tab-1" aria-expanded="false" aria-controls="tab-1">
                    ¿Cuáles son los requisitos técnicos para tomar los cursos online con Sprencia?
                </button>
            </h2>
            <div id="tab-1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Nuestros cursos online para gente mayor requieren un dispositivo con
                    conexión a internet, como una computadora, tableta
                    o teléfono inteligente. Además, se recomienda tener conocimientos básicos de navegación web y manejo
                    de correo
                    electrónico.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tab-2" aria-expanded="false" aria-controls="tab-2">
                    ¿Ofrecen algún tipo de soporte técnico durante los cursos online?
                </button>
            </h2>
            <div id="tab-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Sí, contamos con un equipo de soporte técnico dedicado para ayudar a
                    nuestros estudiantes mayores durante su experiencia
                    de aprendizaje en línea. Pueden comunicarse con nuestro equipo a través de correo electrónico o por
                    teléfono para
                    resolver cualquier problema técnico que puedan enfrentar.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tab-3" aria-expanded="false" aria-controls="tab-3">
                    ¿Los cursos para gente mayor son adecuados para personas sin experiencia previa en
                    tecnología?
                </button>
            </h2>
            <div id="tab-3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">¡Absolutamente! Nuestros cursos están diseñados pensando en las personas
                    mayores sin experiencia previa en tecnología.
                    Nuestros materiales y recursos de aprendizaje son accesibles y fáciles de seguir, lo que permite a
                    nuestros estudiantes
                    adquirir nuevas habilidades tecnológicas de manera gradual y sin sentirse abrumados.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tab-4" aria-expanded="false" aria-controls="tab-4">
                    ¿Los cursos online en Sprencia tienen horarios fijos?
                </button>
            </h2>
            <div id="tab-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">No, nuestros cursos online para gente mayor son flexibles en cuanto a
                    horarios. Los estudiantes pueden acceder al
                    contenido de los cursos en cualquier momento que les resulte conveniente. Esto les permite adaptar
                    su aprendizaje a su
                    propio ritmo y según sus necesidades individuales.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tab-5" aria-expanded="false" aria-controls="tab-5">
                    ¿Qué formas de pago están habilitadas para inscribirme?
                </button>
            </h2>
            <div id="tab-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Ofrecemos varias opciones de pago para nuestros cursos online. Puede pagar
                    con tarjeta de crédito o débito a través de
                    nuestra plataforma de pago seguro en línea. También aceptamos pagos mediante transferencia bancaria
                    o depósito directo.
                </div>
            </div>
        </div>
    </div>
</div>

<!------------- Fin ------------->