.cardW {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.cardWBox {
    width: 250px;
    margin: 0.4em;
}

.cardBoxContent {
    transition: 0, 3s;
}

.cardBoxContent:hover {
    background-color: rgb(243, 243, 243);
    color: black;
}

.infoCurso {
    font-size: 0.8em;
    position: absolute;
    top: 10px;
    background-color: #0d6dfdb0;
    padding: 10px 10px 0px 10px;
}

.infoCurso p {
    color: white;
}

/* Estilos del Banner */
.img-banner {
    filter: brightness(30%);
}

.title-carrousel {
    font-size: 4vw;
}

.subtitle-carrousel {
    font-size: 3vw;
}

.title-category {
    font-size: 2em;
    text-align: center;
}

/* Banner Azul */
.bg-image {
    background-image: url('../../../assets/img/sprencia-contactar-ahora.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 50px 0 100px 0;

}