<div class="bg-dark p-3 text-light fs-4">Sprencia Admin >> <span class="text-secondary">Detalle Curso</span></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 p-5">
            <h1 class="fs-2 mt-3">{{miCurso?.nombre}}</h1>
            <p>{{miCurso?.descripcion}}</p>
            <ul>
                <li>
                    Inicio: <span class="fst-italic text-secondary">{{miCurso?.fecha_inicio}}</span>
                </li>
                <li>
                    Fin: <span class="fst-italic text-secondary">{{miCurso?.fecha_fin}}</span>
                </li>
                <li>
                    Horario: <span class="fst-italic text-secondary">{{miCurso?.horario}}</span>
                </li>
                <li>
                    Horas: <span class="fst-italic text-secondary">{{miCurso?.total_horas}} Horas</span>
                </li>
                <li class="list-unstyled text-center">
                    <span class="fs-3">Precio: {{miCurso?.precio}}€</span>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 p-5">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner shadow">
                    <div class="carousel-item active">
                        <img [src]="miCurso?.foto1" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img [src]="miCurso?.foto2" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img [src]="miCurso?.foto3" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-5">
        <div class="px-1">
            <button class="btn btn-primary" (click)=" goBack()">Retroceder</button>
        </div>
        <div class="px-1">
            <button class="btn btn-danger" (click)=" deleteCourse(miCurso?.id)">Eliminar</button>
        </div>
        <div class="px-1">
            <button class="btn btn-warning" (click)=" goBack()">Editar</button>
        </div>
    </div>
</div>