<div class="bg-dark p-3 text-light fs-4">Sprencia Admin >> <span class="text-secondary">Nuevo Curso</span></div>
<div class="container p-5">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div>
            <div class="row">
                <div class="col-12 col-md-8 p-3">
                    <input type="text" class="form-control" placeholder="Nombre del Curso" formControlName="nombre">
                    <p class="text-danger small px-2" *ngIf="checkControl('nombre', 'required')">Falta campo "Nombre del
                        Curso"</p>
                </div>
                <div class="col-12 col-md-4 p-3">
                    <input type="number" class="form-control" placeholder="Rating" formControlName="rating">
                    <p class="text-danger small px-2" *ngIf="checkControl('rating', 'required')">Falta campo "Rating"
                    </p>
                </div>
                <div class="col-12 col-md-3 p-3">
                    <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad">
                    <p class="text-danger small px-2" *ngIf="checkControl('ciudad', 'required')">Falta campo "Ciudad"
                    </p>
                </div>
                <div class="col-12 col-md-3 p-3">
                    <input type="number" class="form-control" placeholder="Precio" formControlName="precio">
                    <p class="text-danger small px-2" *ngIf="checkControl('precio', 'required')">Falta campo "Precio"
                    </p>
                </div>
                <div class="col-12 col-md-3 p-3">
                    <input type="text" class="form-control" placeholder="Categoría" formControlName="categoria">
                </div>
                <div class="col-12 col-md-3 p-3">
                    <select class="form-select" formControlName="horario">
                        <option value="" selected>Horario</option>
                        <option value="Mañana">Mañana</option>
                        <option value="tarde">Tarde</option>
                        <option value="Fin de Semana">Fin de Semana</option>
                    </select>
                    <p class="text-danger small px-2" *ngIf="checkControl('horario', 'required')">Falta campo "Horario"
                    </p>
                </div>
            </div>
            <div>
                <textarea class="form-control" rows="5" placeholder="Descripción"
                    formControlName="descripcion"></textarea>
            </div>
            <p class="text-danger small px-2" *ngIf="checkControl('descripcion', 'required')">Falta campo "Descripción
                del Curso"</p>
            <div class="row align-items-end">
                <div class="col-12 col-md-3 p-3">
                    <label class="text-secondary" for="fecha_inicio">Fecha Inicio</label>
                    <input type="date" class="form-control" formControlName="fecha_inicio">
                </div>
                <p class="text-danger small px-2" *ngIf="checkControl('fecha_inicio', 'required')">Falta campo "Fecha
                    Inicio"</p>

                <div class="col-12 col-md-3 p-3">
                    <label class="text-secondary" for="fecha_fin">Fecha Inicio</label>
                    <input type="date" class="form-control" formControlName="fecha_fin">
                </div>
                <p class="text-danger small px-2" *ngIf="checkControl('fecha_fin', 'required')">Falta campo "Fecha
                    Fin"</p>
                <div class="col-12 col-md-3 p-3">
                    <input type="number" class="form-control" placeholder="Total Horas" formControlName="total_horas">
                </div>
                <p class="text-danger small px-2" *ngIf="checkControl('total_horas', 'required')">Falta campo "Total
                    Horas"</p>
                <div class="col-12 col-md-3 p-3">
                    <select class="form-select" formControlName="estado">
                        <option class="form-control" value="" default>Estado</option>
                        <option class="form-control" value="activo" default>Activo</option>
                        <option class="form-control" value="inactivo" default>Inactivo</option>
                    </select>
                </div>
            </div>
            <!-- <div class="py-5">
                <div class="text-center text-secondary mb-3">
                    <label>Adjuntar Imágenes</label>
                </div>
                <div class="row px-5">
                    <div class="col-12 col-md-4">
                        <input type="file" class="form-control" placeholder="Foto 1" formControlName="foto1">
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="file" class="form-control" placeholder="Foto 2" formControlName="foto2">
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="file" class="form-control" placeholder="Foto 3" formControlName="foto3">
                    </div>
                </div>
            </div> -->
            <div class="row p-5">
                <div class="col-12 col-md-3 p-1">
                    <input type="submit" class="btn btn-success w-100" value="Agregar Curso">
                </div>
                <div class="col-12 col-md-3 p-1">
                    <input type="button" class="btn btn-dark w-100" value="Cancelar">
                </div>
            </div>
        </div>
    </form>
</div>