<div class="bg-primary p-4">
    <h1 class="text-light text-center">Nuestro Market Place</h1>
</div>

<div class="py-5">
    <section class="container my-1 px-0 px-md-2">
        <div class="card-cursos cardW">
            <div class="card shadow border-0 cardWBox" *ngFor="let curso of cursos; let i = index">
                <div class="cardBoxContent">
                    <a [routerLink]="['/curso/'+ curso.id]" (click)="scrollToTop()"><img [src]="curso.foto1"
                            class="card-img-top w-100" alt="{{curso.precio}}"></a>
                    <div class="infoCurso">
                        <p>{{curso.fecha_inicio}}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{curso.nombre}}</h5>
                        <p class="card-text">{{curso.descripcion}}</p>
                        <h3 class="fs-4 text-end">{{curso.precio}}€</h3>

                    </div>
                    <div>
                        <a [routerLink]="['/curso/'+ curso.id]" (click)="scrollToTop()"
                            class="btn btn-primary w-100">Ver Info</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>