<div class="bg-dark p-3 text-light fs-4">Sprencia Admin >> <span class="text-secondary">Listar Cursos</span></div>

<div class="container">
    <div class="row align-items-center justify-content-center p-3">
        <div class="col-12 col-md-5">
            <p class="fw-bold">Nombre del Curso</p>
        </div>
        <div class="col-12 col-md-2">
            <p class="fw-bold">Fecha Inicio</p>
        </div>
        <div class="col-12 col-md-1">
            <p class="fw-bold">Precio</p>
        </div>
        <div class="col-12 col-md-3 text-center">
            <p>
                <span><i class="bi bi-x-square-fill fs-5 px-2 text-dark"></i></span>
                <span><i class="bi bi-pencil-square fs-5 px-2 text-dark"></i></span>
                <span><i class="bi bi-eye-fill fs-4 px-2 text-dark"></i></span>
            </p>
        </div>
        <hr>
        <div class="row p-1 justify-content-center align-items-center" *ngFor="let curso of cursos">
            <div class="col-12 col-md-5">
                <p>{{curso.nombre}}</p>
            </div>
            <div class="col-12 col-md-2">
                <p>{{curso.fecha_inicio}}</p>
            </div>
            <div class="col-12 col-md-1">
                <p>{{curso.precio}}</p>
            </div>
            <div class="col-12 col-md-3 text-center">
                <p>
                    <span><a (click)="deleteCourse(curso.id)" class="cursorPointer"><i
                                class="bi bi-x-square-fill fs-5 px-2 text-danger"></i></a></span>
                    <span><i class="bi bi-pencil-square fs-5 px-2 text-warning"></i></span>
                    <span><i class="bi bi-eye-fill fs-4 px-2 text-success"></i></span>
                </p>
            </div>
        </div>


    </div>
</div>