<div class="p-5 text-secondary">
    <p class="text-light text-center">ADMINISTRAR</p>
    <ul class="list-unstyled">
        <li class="text-primary"><span><i class="bi bi-file-earmark-text"></i></span> Cursos</li>
        <li>Listar</li>
        <li>Crear</li>
        <li>Editar</li>
    </ul>
    <ul class="list-unstyled">
        <li class="text-primary"><span><i class="bi bi-people-fill"></i></span> Usuarios</li>
        <li>Listar</li>
        <li>Crear</li>
        <li>Editar</li>
    </ul>
    <ul class="list-unstyled">
        <li class="text-primary"><span><i class="bi bi-blockquote-right"></i></span> Comentarios</li>
        <li>Listar</li>
        <li>Crear</li>
        <li>Editar</li>
    </ul>
    <div class="text-center">
        <p class="text-light"><span><i class="bi bi-box-arrow-in-left"></i></span> Cerrar Sesión</p>
    </div>
</div>