<div class="container p-5">
    <h2 class="text-center">Categorías</h2>
    <div class="row">
        <div class="col-12 col-md-3 text-center">
            <div><img class="w-50" src="../../assets/img/sprencia-marketing-ico.png" alt="Icono Marketing Sprencia">
            </div>
            <p class="fs-5 text-center">Marketing</p>
        </div>
        <div class="col-12 col-md-3 text-center">
            <div><img class="w-50" src="../../assets/img/sprencia-internetico.png" alt="Icono Internet Sprencia"></div>
            <p class="fs-5 text-center">Internet</p>
        </div>
        <div class="col-12 col-md-3 text-center">
            <div><img class="w-50" src="../../assets/img/sprencia-icono-fotografia.png" alt="Icono Fotografia"></div>
            <p class="fs-5 text-center">Fotografía</p>
        </div>
        <div class="col-12 col-md-3 text-center">
            <div><img class="w-50" src="../../assets/img/sprencia-icono-otros.png" alt="Icono Sprencia Otros"></div>
            <p class="fs-5 text-center">Otros</p>
        </div>
    </div>
</div>