<div class="bg-light p-5 container my-5 rounded-4 shadow" id="sprencia">
    <h3 class="text-center my-5 fs-1">Acerca de Nosotros</h3>
    <div class="row container">
        <section class="col-12 col-md-6 px-0 px-md-5">
            <p class="fs-6 text-center">Sabemos que la edad no es una barrera para el aprendizaje y
                que las personas
                mayores también
                tienen
                derecho a
                continuar
                su educación y mejorar sus habilidades. Por eso, hemos creado una plataforma de aprendizaje en línea que
                está
                diseñada
                específicamente para atender las necesidades y preferencias de este grupo de edad.</p>
            <p class="fs-6 text-center">Nuestros cursos son impartidos por expertos en cada área y están disponibles en
                una amplia variedad de
                temas, desde
                tecnología y negocios hasta artes y humanidades. Además, nuestros cursos están diseñados para ser
                flexibles y adaptados
                a las necesidades individuales de cada estudiante.</p>
            <button class="btn btn-primary w-100 my-4" routerLink="active" [routerLink]="['/sobre-nosotros']">Conocer
                Más</button>
        </section>
        <section class="col-12 col-md-6">
            <div><img class="w-100" src="../../assets/img/sprencia-cursos-seniors.png" alt="Sobre Sprencia"></div>
        </section>
    </div>
</div>