<div class="container pb-5">
    <div class="py-5">
        <h2 class="text-center">FAQS</h2>
        <h3 class="text-center">Preguntas Frecuentes</h3>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tab-1" aria-expanded="false" aria-controls="tab-1">
                    ¿Cuáles son los requisitos técnicos para tomar los cursos online con Sprencia?
                </button>
            </h2>
            <div id="tab-1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Nuestros cursos online para gente mayor requieren un dispositivo con
                    conexión a internet, como una computadora, tableta
                    o teléfono inteligente. Además, se recomienda tener conocimientos básicos de navegación web y manejo
                    de correo
                    electrónico.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tab-2" aria-expanded="false" aria-controls="tab-2">
                    ¿Ofrecen algún tipo de soporte técnico durante los cursos online?
                </button>
            </h2>
            <div id="tab-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Sí, contamos con un equipo de soporte técnico dedicado para ayudar a
                    nuestros estudiantes mayores durante su experiencia
                    de aprendizaje en línea. Pueden comunicarse con nuestro equipo a través de correo electrónico o por
                    teléfono para
                    resolver cualquier problema técnico que puedan enfrentar.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tab-3" aria-expanded="false" aria-controls="tab-3">
                    ¿Los cursos para gente mayor son adecuados para personas sin experiencia previa en
                    tecnología?
                </button>
            </h2>
            <div id="tab-3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">¡Absolutamente! Nuestros cursos están diseñados pensando en las personas
                    mayores sin experiencia previa en tecnología.
                    Nuestros materiales y recursos de aprendizaje son accesibles y fáciles de seguir, lo que permite a
                    nuestros estudiantes
                    adquirir nuevas habilidades tecnológicas de manera gradual y sin sentirse abrumados.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tab-4" aria-expanded="false" aria-controls="tab-4">
                    ¿Los cursos online en Sprencia tienen horarios fijos?
                </button>
            </h2>
            <div id="tab-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">No, nuestros cursos online para gente mayor son flexibles en cuanto a
                    horarios. Los estudiantes pueden acceder al
                    contenido de los cursos en cualquier momento que les resulte conveniente. Esto les permite adaptar
                    su aprendizaje a su
                    propio ritmo y según sus necesidades individuales.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tab-5" aria-expanded="false" aria-controls="tab-5">
                    ¿Qué formas de pago están habilitadas para inscribirme?
                </button>
            </h2>
            <div id="tab-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Ofrecemos varias opciones de pago para nuestros cursos online. Puede pagar
                    con tarjeta de crédito o débito a través de
                    nuestra plataforma de pago seguro en línea. También aceptamos pagos mediante transferencia bancaria
                    o depósito directo.
                </div>
            </div>
        </div>
    </div>
</div>